<nav class="navbar navbar nav">
  <div class="container container-fluid">
    <div class="navbar-header"> 
      <span class="navbar-brand"><h6>Daily Update Application </h6></span>
    </div>
    <a [routerLink]="['']"> <i class="fa fa-power-off  nav-link"></i></a>
   </div>
</nav>
<router-outlet></router-outlet>