.navbar
{
    background-color: #0178BA;
}
a{
    color: white;
}
button
{
    margin-top: 7px;
   float: right;
}
h6{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight:400;
}
@media screen and (max-width: 480px) {
    h6 {
        font-size:16px;
    }
}