<!-- <app-navbar></app-navbar> -->
<!-- <app-f-update></app-f-update> -->
<!-- <app-project></app-project> -->
<!-- <app-update></app-update> -->
<!-- <app-user></app-user> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>