<!-- <div class="container">
    <h2>USER</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h4>First Name</h4>
      <input type="hidden" [(ngModel)]="User.Id" name="User.Id">
      <input type="text" [(ngModel)]="User.firstName" #FnameCtrl="ngModel" name="User.firstName" required  class="form-control"> 
      <span class="error" *ngIf="FnameCtrl.invalid && FnameCtrl.touched">First Name Required</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>Last Name</h4>
        <input type="text" [(ngModel)]="User.lastName" #FnameCtrl="ngModel" name="User.lastName" required  class="form-control"> 
        <span class="error" *ngIf="LnameCtrl.invalid && LnameCtrl.touched">Last Name Required</span>
    </div>
   
  </div>
  <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>UserName</h4>
        <input type="text" [(ngModel)]="User.userName" #FnameCtrl="ngModel" name="User.userName" required  class="form-control"> 
        <span class="error" *ngIf="UnameCtrl.invalid && UnameCtrl.touched">User Name Required</span>
    </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h4>Email</h4>
      <input type="text" [(ngModel)]="User.email" #FnameCtrl="ngModel" name="User.email" required  class="form-control"> 
      <span class="error" *ngIf="emailCtrl.invalid && emailCtrl.touched">Email Required</span>
  </div>
  </div>
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
         <h4>UserName</h4>
         <input type="password" [(ngModel)]="User.password" #FnameCtrl="ngModel" name="User.passowrd" required  class="form-control"> 
         <span class="error" *ngIf="passwordCtrl.invalid && passowrdCtrl.touched">Password Required</span>
     </div>
     </div>
  <br>
  <div>
      <button class="btn btn-success" (click)="onAdd(Player)">Submit</button>
    </div>
</div> -->
