h2
{
  margin-top: 30px;
 color: #659dbd;
}
h4{
    font-weight: 500;
    font-size: 18px;
}
.row
{
    margin-top: 30px;
}
.blwlabel
{
    margin-top: 40px;
}

.form-control
{
    width: 65%;
}
#time
{
    width: 60%;
}
i{
    padding-right: 20px;
    height: 40px;
}
#search
{
    width: 300px;
    margin-left:7%;
    
}
@media screen and (max-width: 480px) {
    .form-control {
        font-size: 10px;
        width: 85%;

    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size:24px;

    }
}
@media screen and (max-width: 480px) {
    h4 {
        font-size:16px;

    }
}
.error
{
    color: red;
    
}