h3
{
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #659dbd;
}
table
{
    margin-top: 20px;
}
.updateBox
{
    border: aqua;
    height: 40%;
}
.input
{
    height:200px;
}
a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.updates
{
    margin-top: 20px;
}
@media screen and (max-width: 480px) {
    h4 {
        font-size:16px;
    }
}