<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <!-- <h3 >Updates</h3> -->
   
  <table>
    <thead>
      <tr><th *ngFor ="let u of updates"><h3 >{{u.projectName}}</h3></th></tr>
    </thead>
  </table>
  <hr>
  <div class="row"><div class="col-md-9 col-sm-9 col-xs-9">
      <textarea class="input form-control" [(ngModel)]="Update.description" name="User.description"></textarea>
  </div>
 <div class="col-md-3 col-sm-3 col-xs-3">
  <button class="btn btn-success" (click)="onPost(Update.description)">Post</button>
 </div>
 </div>
 <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-9">
        <div class="shadow p-3 mb-5 bg-white rounded updates">
            <table>
              <tbody *ngFor="let u of updates">
                <th>Date: {{u.date|date:"MMM d, y"}}</th>
                <hr>
                <tr>{{u.description}}
                </tr>
              </tbody>
            </table>
          </div>
    </div>
 </div>
</div>
</body>
</html>
