<div class="container">
<div class="row">
  <div class="input col-lg-4 col-md-4 ">
      <h4>Select Project</h4>
    <select class="form-control" (change)="selectProject($event)">
      <option value="0" disabled>Select Project</option>
      <option *ngFor="let p of projects" value="{{p.id}}">{{p.name}}</option>
    </select>
  </div>
  <div class="input col-lg-4 col-md-4 ">
      <h4>Select User</h4>
    <select class="form-control" (change)="selectUser($event)">
      <option value="0" disabled>Select User</option>
      <option *ngFor="let u of users" value="{{u.id}}">{{u.firstName}} {{u.lastName}}</option>
    </select>
  </div>
  <div class="input col-lg-4 col-md-4 ">
    <h4>Select Date</h4>
    <input type="date"  class="form-control" name="Match.Date" (change)="selecDate($event)">
  </div>
</div>
<hr>
<h3>Updates</h3>
<hr>
        <div class="shadow p-3 mb-5 bg-white rounded updates">
          <div class="row">
          <div class="updateTitle col-md-3 col-lg-3 col-xs-3 ">
          <table>
              <tbody *ngFor="let up of updates">
                <tr><h6>Date: {{up.modifiedDate|date:"MMM d, y"}}</h6></tr>
                <tr><h6>User: {{up.firstName}} {{up.lastName}}</h6></tr>
                <tr><h6>Project: {{up.projectName}}</h6></tr>
              </tbody>
            </table>
          </div>
          <div class="verticalLine "></div>
          <div class="updateBody col-md-6 col-lg-6 col-xs-6 " *ngFor="let up of updates">
            {{up.description}}
          </div>
          </div>
</div>
