.container
{
    margin-top: 40px;
}
.updates
{
    margin-top: 30px;
}
h3
{
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #659dbd;
}
h6{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight:400;
    margin-left: 20px;
    color: #A9A9A9;
}
.verticalLine
{
    width:2.2px;background:lightgray;
}

@media screen and (max-width: 480px) {
    h6 {
        font-size: 12px;    
    }
}
@media screen and (max-width: 480px) {
    .form-control {
        font-size: 12px;
        width: 75%;
    }
}
@media screen and (max-width: 480px) {
    h2 {
        font-size:24px;
    }
}

@media screen and (max-width: 480px) {
    h4 {
        font-size:16px;
    }
}


@media screen and (max-width: 480px) {
.input {
        margin-top: 10px;
    }
}
.updateBody
{
    color: #659dbd;
}