h2
{
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #659dbd;
}
i{
    margin-left: 7px;
}
.blwTopic
{
    margin-top: 50px;
}
.fit
{
    width: 100%;
}
.tblAssign
{
    width: 100%;
    margin-top: 40px;
}
table{
    width: 100%;
}
.form-control
{
    width: 85%;
}
@media screen and (max-width: 480px) {
    .form-control {
        font-size: 12px;
        width: 75%;
        margin-top:10px;
    }
}
@media screen and (max-width: 480px) {
    h2 {
        font-size:24px;
    }
}
@media screen and (max-width: 480px) {
    h4 {
        font-size:16px;

    }
}
@media screen and (max-width: 480px) {
    .btn {
        margin-top:15px;
    }
}
@media screen and (max-width: 480px) {
    .table {
        margin-top:15px;
    }
}