
<div class="container">
<h2>PROJECT </h2>
<hr>
<div class="shadow p-3 mb-5 bg-white rounded  blwTopic">
<div class="row">
  <div class="col-md-3"><input type="text" [(ngModel)]="Project.name" class="form-control"></div>
  <div class="col-md-3"><button class="btn btn-success"  (click)="onSubmit(Project)">Submit</button></div>

<div class="col-md-5">
    <div class="table-responsive table table-hover fit">
        <table>
          <thead>
            <th>Project Name</th>
            <th>Action</th></thead>
          <tbody>
          
              <tr *ngFor="let p of projects">
                  <td>{{p.name}}</td>
                  <td><i class="fa fa-edit"  (click)="onLoadProject(p)" ></i>
                    <i class="fa fa-trash"  (click)="onDeleteProject(p)"></i></td>
                </tr>
    
          </tbody>
        </table>
        </div>
</div>
</div>
</div>

<h2>PROJECT ASSIGN </h2>
<hr>
<div class="shadow p-3 mb-5 bg-white rounded blwTopic  ">
<div class="row">
    <div class="col-md-4">
      <select class="form-control" (change)="selectProject($event)">
        <option value="0" disabled>Select Project</option>
        <option *ngFor="let p of projects" value="{{p.id}}">{{p.name}}</option>
      </select>
    </div>
    <div class="col-md-4">
        <select class="form-control" (change)="selectUser($event)">
          <option value="0" disabled>Select User</option>
          <option *ngFor="let u of users" value="{{u.id}}">{{u.firstName}} {{u.lastName}}</option>
          
        </select>
      </div>
    <div class="col-md-3"><button class="btn btn-success" (click)="onAssign()">Assign</button></div> 
</div>  

<div class="row tblAssign">
  <div class="col-md-12">
      <div class="table-responsive table table-hover">
          <table>
            <thead>
              <th>Project Name</th>
              <th>User</th>
              <th>Action</th>
            </thead>
            <tbody>
            <tr *ngFor="let au of assignUsers">
              <td>{{au.projectName}}</td>
              <td>{{au.firstName}} {{au.lastName}}</td>
              <td> <i class="fa fa-trash" (click)="onDeleteAssign(au)"></i></td>
            </tr>
            </tbody>
          </table>
          </div>
  </div>
</div>
</div>
</div>