
<div class="container">
    <h2>USER</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h4>First Name</h4>
      <input type="hidden" [(ngModel)]="User.id" name="User.id">
      <input type="text" [(ngModel)]="User.firstName" #FnameCtrl="ngModel" name="User.firstName" required  class="form-control"> 
      <!-- <span class="error" *ngIf="FnameCtrl.invalid && FnameCtrl.touched">First Name Required</span> -->
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>Last Name</h4>
        <input type="text" [(ngModel)]="User.lastName" #FnameCtrl="ngModel" name="User.lastName" required  class="form-control"> 
        <!-- <span class="error" *ngIf="LnameCtrl.invalid && LnameCtrl.touched">Last Name Required</span> -->
    </div>
   
  </div>
  <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>UserName</h4>
        <input type="text" [(ngModel)]="User.userName" #FnameCtrl="ngModel" name="User.userName" required  class="form-control"> 
        <!-- <span class="error" *ngIf="UnameCtrl.invalid && UnameCtrl.touched">User Name Required</span> -->
    </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h4>Email</h4>
      <input type="text" [(ngModel)]="User.email" #FnameCtrl="ngModel" name="User.email" required  class="form-control"> 
      <!-- <span class="error" *ngIf="emailCtrl.invalid && emailCtrl.touched">Email Required</span> -->
  </div>
  </div>
  <br>
  <div>
      <button class="btn btn-success" (click)="onAdd(User)">Submit</button>
    </div>
</div>

<div class="container table-responsive">             
    <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>UserName</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users" >
          <td>{{u.firstName}}</td>
          <td>{{u.lastName}}</td>
          <td>{{u.userName}}</td>
          <td>{{u.email}}</td>
          <td><i class="fa fa-edit" (click)="onUserEdit(u)"></i>
            <i class="fa fa-trash"(click)="ondeletePlayer(u.id)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>