.loginbox
{
     margin: auto;
    width: 500px;
    padding: 10px; 
   margin-top: 10%; 
   text-align: center;  
}
h2
{
  margin-top: 30px;
 color: #659dbd;
 font-size: 21px;
}
.btn
{
    margin-top: 10px;
    width: 80%;
}
.form-control
{
    margin: auto;
    width: 80%;
}
.login
{
    margin-top: 10px;
}