<div class="loginbox"> 
 <div class="title"> <h2>LOGIN FORM</h2></div>
  <hr>
    <div class="shadow p-3 mb-5 bg-white rounded ">
     <div class="login">
        <input type="hidden"[(ngModel)]="User.id" name="User.id" >
      <input type="text" placeholder="Email" [(ngModel)]="User.email" name="User.email" class="form-control"></div>
      <div class="login"><input type="password" placeholder="password" [(ngModel)]="User.password" name="User.Password" class="form-control"></div>
      <div class="login"><button class="btn btn-info" (click)="onLogin(User)">LOGIN</button></div>
      <!-- <div class="login"><button class="btn">CANCEL</button></div> --> 
    </div>  
</div>
