
a{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

}
button
{
    margin-top: 7px;
   float: right;
}
h6{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight:400;
   
}
@media screen and (max-width: 480px) {
    h6 {
        font-size:16px;
    }
}
i{
    size:px;
}

ul
{
    margin-left: 10px;
    width: 100%;
}
@media screen and (min-width: 720px) {
    li{
        margin-left: 20px;
    }
}

