
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <!-- <h6>Daily Update</h6> -->
    <div class="container">
      <div class="navbar navbar-expand-lg">
        <a class="navbar-brand"><h6>Daily Update Application </h6></a>
       
        <ul class="nav navbar-nav header">
          <li><a class="nav-link"[routerLink]="['/navbar/update']">UPDATE</a></li>
          <li><a class="nav-link"[routerLink]="['/navbar/user']">USER</a></li>
          <li ><a class="nav-link"[routerLink]="['/navbar/project']">PROJECT</a></li>
        </ul>
      </div>
      <a [routerLink]="['']">
        <i class="fa fa-power-off  nav-link"></i>
      </a>
      <!-- <button class="btn btn-danger nav-link" [routerLink]="['']">Logout</button> -->
    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li><a class="nav-link"[routerLink]="['/navbar/update']">UPDATE</a></li>
          <li><a class="nav-link" [routerLink]="['/navbar/user']">USER</a></li>
          <li ><a class="nav-link" [routerLink]="['/navbar/project']">PROJECT</a></li> 
      </ul>
    </div>
  </div>
  </nav> -->
  <router-outlet></router-outlet>